/* default */
.header, .footer {
    margin: 0;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

html, body {
    margin: 0;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.main {
    display: flex;
    flex: 1;
    padding: 5px 12px;
    flex-direction: column;
}

.centerall {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fill-height {
    flex: 1;
}

/* website header */
.header {
    background-color: aliceblue;
    font-size: 35px;
    height: 4rem;
}

/* navbar container */
.topnav {
    display: flex;
    width: 100%;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    height: 3rem;
    align-items: top;
}

/* navbar section */
.topnav .section {
    flex: 1;
    display: flex;
    margin: 0;
}

.section .headertext {
    display: flex;
    align-items: center;
    padding:  0px 12px;
    text-decoration: none;
}

/* navbar links */
.topnav a {
    color: #000000;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 17px;
}

/*navbar links hover */
.topnav a:hover {
    color: #bdbdbd;
}

/* navbar active link */
.topnav a.active {
    background-color: #b1b1b1;
    color: white;
}

/* footer */
.footer {
    background-color: #ffffff;
    text-align: center;
}

.homepagecentergrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* border: 1px solid orange; */

}

.clock-center {
    display: block;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    color: #000000;
    /* border: 1px solid green; */
}

.greetingcontainer {
    display: block;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    text-align: center;
    align-self: end;
    /* border: 1px solid blue; */
}

#greetingtext {
    font-size: 50px;
    color:#000000;
}

.todopreview {
    justify-content: end;
    color:#000000;
    /* border: 1px solid red; */
}

.todopreviewheader {
    text-align: center;
}

/* todolist style */
#todopreviewlist {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* todolist items */
#todopreviewlist li {
    cursor: pointer;
    position: relative;
    /* border: 1px solid green; */
    padding: 0px 20px;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Darker background-color on hover */
#todopreviewlist li:hover {
    background: #ddd;
}

/* todolist items checked */
#todopreviewlist li.checked {
    background: #aaaaaa;
    text-decoration: line-through;
}

.deletebutton, .checkbutton {
    background: none;
    border: none;
    position: absolute;
    margin: 0;
    padding: 0px 5px;
    font: inherit;
}

.deletebutton {
    right: 0;
    top: 0;

}

.deletebutton:hover {
    background-color: #f44336;
    color: white;
}

.checkbutton {
    left: 0;
    top: 0;
}

.checkbutton:hover {
    background-color: #5cf436;
    color: white;
}

#todoadderinput {
    flex: 1;
    padding: 0;
    margin: 0;
    outline: none;
}

#todoadderbutton {
    margin-left: 5px;
}

.todopreviewadder {
    display: flex;
    flex-direction: row;
    /* border: 1px solid #555555; */
    padding: 0px 20px;
}

.showonhover {
    display: none;
}

.showonhover:hover {
    display: block;
}

.options {
    display: none;
}

/* .options::after {
    
} */

.options:hover {
    display:block
}
